header {

  height:100vh;
  width:100vw;
}

section {
  background: $mainBack;
  padding: 40px 0;
  h2 {
    font-size: 30px;
    text-align: center;
    color: $mainText;
    margin-bottom: 20px;
  }
}

.infoWrap {
  display: flex;
  .youWrap {
    margin: auto;
    display: flex;
  }
}

.youWrap > * {
  margin: auto;
}

.preOrder {
  font-size: 0;
  li {
    display: inline-block;
    width: 20%;
    text-align: center;
    img {
      width: 80%; 
    }
  }
}

.tourTop {
  display: flex; 
}

.tourTop > * {
  margin: auto;
  color: $mainText
}

.rsvp a {
  text-decoration: none;
  padding: 5px;
  background: $mainText;
  color: white;
}


path {
  fill: white;
}

/*video code begins*/

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../media/mobilebg.png');
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
  }

  .fullscreen-bg__video {
    display: none;
  }

}